*{
  background-color: #040404;
}

#presentation-area{
  color: white;
  display: flex; 
  border: 1px solid green;  
}

#presentation-container{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  width: 500px;
  margin-top: 32px;
  height: 130px;
  justify-content: center;
}

#presentation-text{
  font-family:'JetBrains-Mono'; 
  font-size: 34px;
  border: 1px solid green;
  position: relative;
  padding: 0px; 
}

#presentation-text-2{
  font-family: 'JetBrains-Mono';
  font-size: 29px;
  border: 1px solid green;
  margin-top: -35px;
  position: relative;
}

@font-face {
  font-family: 'JetBrains-Mono';
  src: url('./JetBrains_fonte/static/JetBrainsMono-Regular.ttf');
}

#container-fotoPerfil{
  border: 1px solid green;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 32px;
  height: 126px;
}

#fotoPerfil{
  border-radius: 50%;
  width: 130px;
  height: 126px;
  position: relative;
}

#container-icons{
  border: 1px solid green;
  display: flex;
  height: 64px;
  width: 150px;
  align-items: center;
  justify-content: space-around;
  margin-left: 510px;
  margin-top: 40px;
}

#icon_github{
  height: 35px;
  width: 35px;
}

#icon_Linkedin{
  height: 36px;
  width: 36px;
}

#icon_instagram{
  height: 36px;
  width: 36px;
} 